:root{
    --fonte:'Source Code Pro', monospace;
    --background-cinzento: #C2BDCD;
    --background-pesado: #9F8CC8;
    --background-levezao: #DCD2F1;
    --background-leve: #CFBFF1;
    --background: #B9AED0;
}

/* GERAL */
html,body{
    font-family: var(--fonte);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

.deactivate{
    border-radius: 10px;
    background-color: var(--background-cinzento);
    color: white;
    transition: all 0.35s ease-in-out;
}

.selected{
    border-radius: 10px;
    background-color: var(--background-pesado);
    font-weight: bold;
    transition: all 0.35s ease-in-out;
}
/* GERAL */

body{
    background-color: var(--background);
}

#botoes{
    background-color: var(--background);
    display: flex;
    justify-content: space-evenly;
}
    input{
        margin-top: 5px;
        font-style: italic;
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 10px;
        color: white;
        width: 45%;
        height: 30px;
        background-color: var(--background-pesado);
        border: none;
        border-radius: 5px;
    }

#tabela{
    background-color: var(--background-leve);
    width: 90%;
    border-radius: 10px;
    margin: 5px auto 0 auto;
    border-spacing: 0;
    border-collapse: initial;
    position: relative;

}
    .row td{
        text-align: center;
        font-family: var(--fonte);
        font-weight: 300;
        font-size: 1.2rem;
        padding: 0;
    }

#palavras{
    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;
}
    #palavras p{
        margin: 5px; 
    }

#tutorial{
    background-color: var(--background-levezao);
}

td:hover{
    cursor: pointer;
}

@media screen and (min-width: 800px){
    .container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-start;
    }
    #botoes{
        margin: 50px 0;
        
        display: flex;
        flex-direction: column;
    }
        input{
            width: 150px;
            height: 40px;
        }
    #tabela{
        margin: 50px 20px;
        width: 400px;
    }

    #palavras{
        width: 50%;
    }

    #tutorial{
        height: 400px;
        width: 400px;

        position: absolute;
        top: 50px;
        left: 10px;

    }
        #tutorial :is(h3,p,ol){
            padding: 0;
            text-align: center;
            margin: 10px auto 30px auto;
            width: 80%;
        }
}